*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

body {
    background-image: linear-gradient(to right top, #f04d4d, #f67048, #f8904a, #f8ad54, #f6c967, #fbc36f, #febe77, #ffb980, #fb988d, #e081a2, #af76b2, #6a71b3);
    color: #ffffff;
    font-family: 'Kanit',sans-serif;
    
    font-style: italic;
    font-weight: 500;

    height: 100vh;
}

.container {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    max-width: 1660px;
    width: 100%;
    height: 100%;
}

.middle__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 63%;
}

.timer.is-hidden {
    display: none;
}

button {
    display: block;
    width: 130px;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    border: none;
    background-color: #6a71b3;
    color: #ffffff;

    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;

    cursor: pointer;
}

button:hover {
    background-color: #bc49c2;
}
.new__game-btn.is-hidden {
    display: none;
}
.level__list {
    display: flex;
}
.level__list button {
    background-color: #fb988d;
    height: 130px;
    border: 1px rgb(1, 69, 114) dashed;
}
.level__list button:hover {
    background-color: rgb(245, 230, 94);
    color: rgb(1, 69, 114);
}

.level__list.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.game__field {
    display: flex;
    justify-content: space-between;

    overflow: hidden;
}

.left__box, 
.right__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show__more.is-hidden {
    opacity: 0;
    pointer-events: none;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    margin-bottom: 18px;
}

.water__sign {
    position: absolute;
    top: 80%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    width: 500px;
    pointer-events: none;

    opacity: 0.2;
}
.right__box{
    min-width: 130px;
}
.timer {
    display: flex;
    font-size: 46px;
}
.grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100vh;
    max-width: 100%;
    height: 100%;
    max-height: 1050px;
}
.grid__item {
    position: relative;
    perspective: 700px;

    transform: translateX(-50px);
    /* opacity: 0; */

    /* animation-name: slide;
    animation-duration: 500ms; */
}
.grid__item * {
    pointer-events: none;
}

.grid__item.rotated .item__front {
    transform: rotateY(0deg);
}
.grid__item.checked .item__front {
    box-shadow: 0px 0px 7px 3px rgba(255, 212, 94, 1);
}

.grid__item.rotated .item__back {
    transform: rotateY(180deg);
}

.item__front, 
.item__back {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 1000ms;
    backface-visibility: hidden;
}
.item__front {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: antiquewhite;
    padding: 0px 30px;
    transform: rotateY(180deg);
}
.item__front img {
    max-height: 100%;
}
.item__back {
    background-color: rgb(244, 248, 203);
    background-image: repeating-linear-gradient(0deg, transparent, transparent 14px, rgba(8, 78, 123, 0.47) 14px, rgba(8, 78, 123, 0.47) 28px), repeating-linear-gradient(27deg, transparent, transparent 2px, rgba(41, 113, 135, 0.46) 2px, rgba(41, 113, 135, 0.46) 3px);
    border: rgba(8, 79, 123, 0.77) 2px solid;
    transform: rotateY(360deg);
}
.table--wraper {
    height: 350px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffd863;
    border-radius: 10px;
}
.table {
    font-size: 25px;
    letter-spacing: 0.06;
    border: 2px solid #af76b2;

    overflow: scroll;
}
.table th,
.table td {
    width: 250px;
    padding: 5px;
    border-top: 1.5px dashed #af76b2;
    border-right: 1.5px dashed #af76b2;
}

.top__ten {
    font-weight: 700;
    color: #bc49c2;
    text-align: center;
    margin-bottom: 5px;
}
